.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);

  .page-title {
    margin-bottom: 32px;
  }

  .content-split {
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: center;

    .block {
      background-color: var(--color-background-alt-dark);
      border-radius: var(--border-radius-base);
      padding: 20px;
      margin-right: 40px;

      &:last-of-type {
        margin-right: unset;
      }
    }
  }

  .login-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 480px;

    .info-box {
      max-width: unset;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      input {
        margin-bottom: 10px;
        max-width: unset;
      }

      .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
          margin-bottom: 10px;
        }
      }
    }
  }

  .guest-mode {
    width: 100%;
    height: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      margin-bottom: 8px;
    }

    p {
      margin-top: unset;
    }
  }

  .guest-input {
    display: flex;
    align-items: center;
    width: 100%;

    input {
      width: 100%;
    }

    button {
      width: 250px;
      margin-left: 18px;
    }
  }

  button.guest-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;

    i {
      transition: ease-in-out all 100ms;
    }

    .user-image {
      height: 38px;
      width: 38px;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
    }

    .image-username {
      display: flex;
      justify-content: center;
      align-items: center;

      .username {
        font-size: 18px;
        font-weight: 600;
        margin-left: 8px;
      }
    }

    &:hover {
      i.icon {
        margin-right: unset;
      }
    }
  }

  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    opacity: 0.4;
  }
}
