.home {
  min-height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;

  .header-app {
    z-index: 100;
    top: 0;
    position: sticky;
  }

  .content {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 750px) {
  .home {
    .content {
      margin: unset;
    }
  }
}
