$color-secondary: #000;
$color-red: #ff0000;

$color-primary: $color-red;

$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: rgba($color-white, 0.15);
$color-gray-dark: rgba($color-black, 0.15);

$font-family: 'Source Sans Pro', sans-serif;
$font-family-titles: 'Nunito Sans', 'Roboto' 'Ubuntu', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-xs: 9px;
$font-size-s: 12px;
$font-size-m: 13px;
$font-size-l: 16px;
$font-size-xl: 24px;
