$color-secondary: #000;
$color-lighter-purple: rgb(173, 129, 255);
$color-light-purple: #9a64ff;
$color-purple: #6441a5;
$color-red: #ff2d2d;
$color-green: #41a541;
$color-light-blue: #6264cf;
$color-blue: #4143a5;
$color-light-orange: #ecbc6e;
$color-orange: #e8a61a;

$color-black: #000000;
$color-white: #ffffff;
$color-lighter-gray: rgba($color-white, 0.35);
$color-light-gray: rgba($color-white, 0.15);
$color-gray: rgba($color-black, 0.25);
$color-dark-gray: rgba($color-black, 0.15);

$color-primary: $color-light-purple;
$color-primary-dark: $color-purple;
$color-primary-light: $color-lighter-purple;

$color-information: $color-light-blue;
$color-information-dark: $color-blue;
$color-information-light: lighten($color-blue, 10);

$color-warning: $color-orange;
$color-warning-dark: darken($color-orange, 10);
$color-warning-light: lighten($color-orange, 10);

$color-background: #121212;
$color-background-alt: #282a36;
$color-text: #c4c4c4;
$color-text-dark: #000000;

$font-family: 'Inter', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 13px;
$font-size-l: 16px;
$font-size-xl: 20px;

:root {
  --color-background: #{$color-background};
  --color-background-light: #{lighten($color-background, 10)};
  --color-background-lighter: #{lighten($color-background, 20)};
  --color-background-lightest: #{lighten($color-background, 40)};

  --color-background-alpha: #{adjust-color($color: $color-background, $alpha: -0.4)};
  --color-background-alt-alpha: #{adjust-color($color: $color-background-alt, $alpha: -0.4)};

  --color-background-alt-darker: #{darken($color-background-alt, 10)};
  --color-background-alt-dark: #{darken($color-background-alt, 5)};
  --color-background-alt: #{$color-background-alt};
  --color-background-alt-light: #{lighten($color-background-alt, 10)};
  --color-background-alt-lighter: #{lighten($color-background-alt, 20)};
  --color-background-alt-lightest: #{lighten($color-background-alt, 40)};

  --color-primary: #{$color-primary};
  --color-primary-dark: #{$color-primary-dark};
  --color-primary-light: #{$color-primary-light};
  --color-information: #{$color-information};
  --color-information-dark: #{$color-information-dark};
  --color-information-light: #{$color-information-light};
  --color-warning: #{$color-warning};
  --color-warning-dark: #{$color-warning-dark};
  --color-warning-light: #{$color-warning-light};
  --color-red: #{$color-red};
  --color-danger: #{$color-red};
  --color-danger-dark: #{darken($color-red, 20)};
  --color-danger-light: #{lighten($color-red, 10)};
  --color-text: #{$color-text};
  --color-text-darkish: #{darken($color-text, 40)};
  --color-text-dark: #{$color-text-dark};
  --color-content-background: #{$color-white};
  --color-white: #{$color-white};

  --font-family: #{$font-family};
  --font-weight: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};
  --font-size-xs: #{$font-size-xs};
  --font-size-s: #{$font-size-s};
  --font-size-m: #{$font-size-m};
  --font-size-l: #{$font-size-l};
  --font-size-xl: #{$font-size-xl};

  --border-radius-base: 8px;
}
