.item-list {
  width: 100%;
  position: relative;
  white-space: nowrap;
  border-collapse: collapse;
  max-height: 100%;

  .table-header {
    background: none;
    border-radius: 4px;
    height: 40px;

    th {
      padding: 0 10px;
      font-weight: 500;
      color: #fff;
      position: sticky;
      top: 60px;
      background-color: var(--color-background);
      z-index: 5;
      cursor: default;

      i {
        margin-left: 4px;
        color: var(--color-primary-light);

        &.unset {
          opacity: 0.2;
          color: #fff;
        }
      }

      &.clickable {
        cursor: pointer;
      }
    }
  }

  tr {
    width: 100%;
    border-radius: 19px;
    padding: 0.5rem;
    height: 24px;
    background-color: var(--color-background-alt-dark);

    &:first-of-type {
      border-top-left-radius: var(--border-radius-base);
      border-bottom-left-radius: var(--border-radius-base);
    }

    &:last-of-type {
      border-top-right-radius: var(--border-radius-base);
      border-bottom-right-radius: var(--border-radius-base);
    }

    &:nth-of-type(even) {
      background-color: var(--color-background-alt);
    }

    &.disabled {
      opacity: 0.5;
    }

    &:hover {
      background-color: var(--color-background-alt-light);
      cursor: pointer;
    }

    .waveform {
      min-width: 100px;
    }

    .inline-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 34px;
      width: 40px;
      max-width: 48px;
      border-radius: var(--border-radius-base);
      transition: ease-in-out all 100ms;

      &:hover {
        background-color: var(--color-background-alt-lighter);
      }

      &.active {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }

    td,
    th {
      &.center {
        text-align: center;
      }

      &.play,
      &.download {
        width: 40px;
      }

      &.copy-clipboard {
        width: 40px;
        text-align: center;
      }

      &.sound-name {
        width: 300px;
        max-width: 300px;
        .name-split {
          display: flex;
          flex-direction: column;
          width: 300px;
          max-width: 300px;

          .name {
            font-weight: var(--font-weight-bold);
          }

          .description {
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight);
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.list-wrapper {
  margin-bottom: 50px;
}

.page-controller-wrapper {
  position: fixed;
  bottom: 0px;
  left: 2rem;
  border-radius: var(--border-radius-base);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 16px;

  .filtered-warning {
    background-color: var(--color-information-dark);
    color: var(--color-white);
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 6px 12px;
    font-size: var(--font-size-s);

    &:hover {
      cursor: pointer;
      background-color: var(--color-information);
    }
  }

  .page-controller {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-background-alt);

    padding: 8px;
    color: var(--color-white);

    .buttons-pages {
      display: flex;

      button {
        margin-right: 6px;

        &:last-of-type {
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }

    .page-summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      margin-right: 16px;

      .amount-per-page {
        font-size: var(--font-size-s);
        color: var(--color-text);
      }
    }

    button.small {
      min-width: unset;

      i {
        margin: 0px;
      }

      &.showAll {
        margin-left: 16px;
      }

      &.with-icon-margin i {
        margin-right: 8px;
      }
    }
  }
}
