.item-list {
  width: 100%;
  position: relative;
  white-space: nowrap;
  border-collapse: collapse;
  max-height: 100%;

  .table-header {
    background: none;
    border-radius: 4px;
    height: 40px;

    th {
      padding: 0 10px;
      font-weight: 500;
      color: #fff;
      position: sticky;
      top: 60px;
      background-color: var(--color-background);
      z-index: 5;
      cursor: default;

      i {
        margin-left: 4px;
        color: var(--color-primary-light);

        &.unset {
          opacity: 0.2;
          color: #fff;
        }
      }

      &.clickable {
        cursor: pointer;
      }
    }
  }

  tr {
    width: 100%;
    border-radius: 19px;
    padding: 0.5rem;
    height: 24px;
    background-color: var(--color-background-alt-dark);

    &:first-of-type {
      border-top-left-radius: var(--border-radius-base);
      border-bottom-left-radius: var(--border-radius-base);
    }

    &:last-of-type {
      border-top-right-radius: var(--border-radius-base);
      border-bottom-right-radius: var(--border-radius-base);
    }

    &:nth-of-type(even) {
      background-color: var(--color-background-alt);
    }

    &:hover {
      background-color: var(--color-background-alt-light);
      cursor: pointer;
    }

    .waveform {
      min-width: 100px;
    }

    td,
    th {
      &.center {
        text-align: center;
      }

      &.sound-name {
        width: 300px;
        max-width: 300px;
        .name-split {
          display: flex;
          flex-direction: column;
          width: 300px;
          max-width: 300px;

          .name {
            font-weight: var(--font-weight-bold);
          }

          .description {
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight);
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
