.filter-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  input[type='number'] {
    &:first-of-type {
      margin-right: 4px;
    }
    &:last-of-type {
      margin-left: 4px;
    }
  }

  .filter-item {
    margin-right: 12px;
    min-width: 320px;

    &:last-of-type {
      margin-right: unset;
    }

    h3 {
      font-size: --var(--font-size-s);
      margin-bottom: unset;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1000px) {
  .filter-header {
    .filter-item {
      max-width: unset;
      width: 100%;
      margin: unset;

      &.cost,
      &.volume,
      &.duration {
        display: none;
      }

      h3 {
        display: none;
      }

      input {
        max-width: unset;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .filter-header {
    .filter-item {
      padding: 12px;
    }
  }
}
